[package]
name = "fs-read"
version = "0.1.0"
edition = "2021"

[dependencies]
serde = { version = "1", features = ["derive"] }
serde_json = "1"
anyhow = "1"

[[bin]]
name = "fs_read"
path = "src/main.rs"

[profile.release]
lto = true
codegen-units = 1
opt-level = "z"
